USE DATASET

In [4]:
import pandas as pd
import numpy as np
 
arr = np.array([['M', 81.4, 82.2, 44, 6.1, 120000, 'no'],
               ['M', 75.2, 86.2, 40, 5.9, 80000, 'no'],
               ['F', 80.0, 83.2, 34, 5.4, 210000, 'yes'],
               ['F', 85.4, 72.2, 46, 5.6, 50000, 'yes'],
               ['M', 68.4, 87.2, 28, 5.11, 70000, 'no']])
df = pd.DataFrame(arr)
df.columns = ['gender', 'hsc_p', 'ssc_p', 'age', 'height', 'salary', 'suffer_from_disease']

CONVERT AGE , SALARY TO int and ssc,hsc,height to float

In [5]:
df[['age','salary']] = df[['age','salary']] .astype(int)
df[['hsc_p', 'ssc_p','height']] =df[['hsc_p', 'ssc_p','height']].astype('float')

Write Normalization Function and Apply all Above Columns

In [ ]:
def normalize(values):
  return (values-values.min())/(values.max()-values.min())
cols = ['hsc_p', 'ssc_p', 'age', 'height', 'salary']
df[cols]=df[cols].apply(normalize)
df

Write Standrdization Function and Apply all Above Columns

In [8]:
def std(values):
  return (values-values.mean())/(values.std())
cols = ['hsc_p', 'ssc_p', 'age', 'height', 'salary']
df[cols]=df[cols].apply(std)
df

  gender     hsc_p         ssc_p  ...    height    salary  suffer_from_disease
0      M  0.508834 -2.795035e-16  ...  1.216399  0.220534                   no
1      M -0.441398  6.713451e-01  ...  0.707446 -0.409563                   no
2      F  0.294265  1.678363e-01  ... -0.564939  1.638252                  yes
3      F  1.121887 -1.678363e+00  ... -0.055985 -0.882136                  yes
4      M -1.483588  8.391814e-01  ... -1.302921 -0.567087                   no

[5 rows x 7 columns]